*{
     margin: 0;
 	
      font-family: Segoe UI;
      font-weight: lighter;
 }

header{background-color: #00a478;color: white;}
.addItem{border: 1px solid #00a478; }
 
 .buttonAddItem{

  	background-color : white;
  	border: 1px solid #00a478;
  	padding: 5px 10px 5px 10px;
  	 border-radius: 3px;
  	 margin: 0px 5px 0px 5px;
      text-decoration: none;
       font-weight: 400;

  }

   .buttonAddItem:hover{
background-color: #00a478;
color: white;
 border-top: 1px solid white;

   }

  .remove{

	background-color : white;
  	border: 1px solid #e74c3c;
  	padding: 5px 10px 5px 10px;
  	 border-radius: 3px;
  	 margin: 0px 5px 0px 5px;
      text-decoration: none;
       font-weight: 400;

  }

     
     .remove:hover{
background-color: #e74c3c;
color: white;
 border: 1px solid white;

}

.linkRetour1{float: left; color: white; text-decoration: none; }